/* Reset */

body,
ul,
li,
h1,
h3,
P {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* General Settings */

body {
	width: 90%;
	margin: 0 auto;
	background: #000000;
	font-family: 'Fjalla One', sans-serif;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #B7B8B9;
}

h1 {
	font-weight: normal;
	font-size: 25px;
}

h2 {
	font-weight: normal;
	font-size: 40px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

h3 {
	font-weight: normal;
	font-size: 25px;
	color: #FFFFFF;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

/* Header */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

ul li {
	display: inline;
	text-transform: lowercase;
	margin: 0 20px 0 0;
	font-size: 18px;
}

li a:hover {
	color: #FFFFFF;
	transition: 0.5s;
}

.highlighted-menu {
	color: #FFFFFF;
}

.main-title {
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.svg-inline--fa {
	width: 20px;
	display: inline;
	margin: 10px;
	margin: 0 0 0 20px;
	padding: 0;
	color: #B7B8B9;
}

.svg-inline--fa:hover {
	color: #FFFFFF;
	transition: 0.5s;
}

/* About */

#about-container {
	padding-top: 70px;
	padding-bottom: 70px;
	border: 1px solid #FFFFFF;
}

/* About Content */

.secondary-content-title {
	margin-top: 70px;
	margin-bottom: 20px;
}

.content-paragraph {
	text-align: left;
}