/* rest */

body, p {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-style: normal;
}

/* General Settings */

body {
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: #C4C5C6;
}

h1 {
    text-align: center;
    font-weight: normal;
}

/* Main */

#main-container {
    border: 1px solid #000000;
    width: 50%;
}

#avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 150px;
}

p {
    text-align: center;
    color: #333333;
}

.logos {
    width: 80px;
}