/* Reset */

body, p {
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

/* General Settings */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nixie One', cursive;;
}

a {
    text-decoration: none;
    color: #C4C5C6;
}

a:hover {
    color: #333333;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 45px;
}

/* Main */

#main-container {
    width: 50%;
    height: 600px;
    padding-top: 150px;
    display: inline-block;
}

#avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 150px;
}

p {
    font-size: 16px;
    text-align: center;
    color: #333333;
    font-weight: bold;
}

#logos-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

svg {
    display: inline-block;
    font-size: inherit;
    width: 2em;
    overflow: visible;
    vertical-align: -.125em;
    padding: 5px;    
}

.fa-github-square:hover {
    color: #181717;    
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-instagram-square:hover {
    color: #E4405F;
}