body {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}

header {
    height: 288px;
    background-color: #EDEDED;
}

#nav-container {
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    font-weight: normal;
}

.main-title {
    font-size: 70px;
    color: #333333;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 40px;
    color: #C4C5C6;
}

ul {
    padding: 0;
    text-align: center;
}

li a {
    padding: 12px;
}

a:hover {
    color: #333333;
}

.links {
    color: #333333;
}

#form-container {
    justify-content: center;
    display: flex;
}

form {
    width: 500px;
    border: 1px solid #C4C5C6;
    border-radius: 5px;
    padding: 80px;
    font-family: times new roman;
    font-size: 16px;
    color: #333333;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    font-family: arial;
    font-weight: normal;
    font-size: 60px;
    color: #333333;
    text-align: center;
    Padding-bottom: 55px;
}

input {
    font-family: times new roman;
    font-size: 16px;
    border: 1px solid #C4C5C6;
    border-radius: 3px;
    width: 480px;
    padding: 12px;
}

input:hover {
    border: 1px solid #333333;
}

textarea {
    font-family: times new roman;
    font-size: 16px;
    border: 1px solid #C4C5C6;
    border-radius: 3px;
    width: 480px;
    padding: 50px 12px;
    padding-top: 12px;
}

textarea:hover {
    border: 1px solid #333333;
}

.button {
    background: #333333;
    font-family: times new roman;
    font-size: 16px;
    color: #FFFFFF;
    width: 100px;
    padding: 12px;
    border-radius: 5px;
}