/* Reset */

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-style: normal;
}

/* General Settings */

body {
    font-family: arial, helvetica, sans-serif;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #C4C5C6;
}

h1 {
    text-align: center;
    font-weight: normal;
}

img {
    max-width: 100%;
}

* {
    outline: none;
}

/* HEADER */

header {
    height: 288px;
    background-color: #EDEDED;
}

#nav-container {
    padding: 40px;
}

.main-title {
    font-size: 70px;
    color: #333333;
}

nav li {
    display: inline;
}

nav a {
    font-size: 40px;
}

ul {
    padding: 0px;
    text-align: center;
}

li a {
    padding: 12px;
}

a:hover {
    color: #333333;
}

.links {
    color: #333333;
}

/* MAIN */

.section-title {
    padding-top: 60px;
}

/* Grid Layout Section */

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    padding: 10px;
    margin: 0px auto;
    grid-gap: 40px;
}

@media (max-width: 800px) {
    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }
}

h3 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

h3 a {
    color: #C4C5C6;
    padding: 0px;
}

img {
    width: 300px;
    border: 1px solid #C4C5C6;
    border-radius: 5px;
}

h4 {
    font-size: 15px;
    text-align: center;
    color: #C4C5C6;
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 0px;
}

/* FORM */

#form-container {
    justify-content: center;
    display: flex;
}

form {
    width: 500px;
    border: 1px solid #C4C5C6;
    border-radius: 5px;
    padding: 80px;
    font-family: times new roman, helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    font-family: arial;
    font-weight: normal;
    font-size: 60px;
    color: #333333;
    text-align: center;
    Padding-bottom: 55px;
}

input {
    font-family: times new roman, helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #C4C5C6;
    border-radius: 3px;
    width: 480px;
    padding: 12px;
}

input:hover {
    border: 1px solid #333333;
}

input:focus {
    border: 1px solid #333333;
}

textarea {
    font-family: times new roman, helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #C4C5C6;
    border-radius: 3px;
    width: 480px;
    padding: 50px 12px;
    padding-top: 12px;
}

textarea:hover {
    border: 1px solid #333333;
}

textarea:focus {
    border: 1px solid #333333;
}

.button {
    background: #333333;
    font-family: times new roman, helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    width: 100px;
    padding: 12px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.button:hover {
    border: 1px solid #FFFFFF;
}

/* Content Pages */

.content-page {
    max-width: 700px;
    margin: 0px auto;
}

p {
    text-align: center;
    margin-top: 50px;
    color: #333333;
}

.image-size {
    width: 500px;
}

.page-content-container {
    margin-top: 50px;
}